<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <h1> Hello world Hello <%=username%> !! </h1> 
   <!-- วิธีเขียนลูปแบบ ejs ให้สร้าง ลิสขึ้นมาเรื่อย ถ้ายังมีข้อมูล -->
   <ul>
      
         <%
            customers.map((i)=>{ %>  <!-- แมพเอาข้อมูล แล้ว ลูปแสดงผลตามรอบ i -->
                  <li>
                     <%=i%>
                  </li>
           <% }) %>  

           <% products.map((products)=>{ %>
            <h4> <%products.productTitle %></h4>
            <% products.Description %>
            <% products.Price %>
         <%}) %>
   </ul>
</body>
</html>